.chat-main
  .main-header
    .main-header__left-box
      %h.main-header__left-box__current-group
        丸々盛盛
      %ul.main-header__left-box__member-list
        Member :
        %li__.main-header__left-box__member-list__member
          name

    .main-header__right-box
      =link_to "Edit",'#', class: "main-header__edit-btn"
  
  .messages
    .messages__box
      .messages__box__upper-info
        .messages__box__upper-info__talker
          YUTA
        .messages__box__upper-info__date
          2020/02/11(Tue) 19:24:00
      .messages__box__text    
        みんな食べるよ
  .form
    %form
      .input-box
        %input{type:"text", class: "input-box__text", placeholder:"type a message"}
        %label{class:"input-box__image"}
          = icon('fas','image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type:"submit", class:"submit-btn",value:"Send"}