.chat-side 
 .side-header
  .side-header__box
   %p.side-header__box__username
    大塚雄太
   %ul.side-header__box__menu
    %li.side-header__box__edit-group
     =link_to "#" do
      =icon('fas','edit')
    %li.side-header__box__edit-user
     =link_to '#' do 
      =icon('fas','user-cog')
       
 .groups
  = link_to "#", class:"group" do
   %p.group__group-name 
    丸々盛盛
   %p.group__latest-message
    まだメッセージがありません
       